*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px 10px;
    text-align: center;
    background-color: rgb(26, 24, 24);
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px;
    padding: 20px;
    max-width: 700px;
}

.imagen-fondo{
    width: 350px;
    object-fit: cover;
}

.imagen-fondo img{
    width: 100%;
}

.parrafos{
    margin: 10px;
    padding: 15px;
    text-align: justify;
}

.cont1{
    display: flex;
    flex-direction: row;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex:1;
    padding: 20px;
}
.contenedor div{
    padding: 10px 20px;
    background-color: rgb(190, 190, 190);
}

.contenedor div:nth-of-type(2){
    background-color: black;

    a{
        color: white;
    }
    
}

.contenedor div:nth-of-type(2):hover{
    background-color: rgb(46, 44, 44);

    a{
        color: rgb(255, 255, 255);
    }
    
}

.contenedor div:nth-of-type(1):hover{
    background-color: rgb(46, 44, 44);

    a{
        color: rgb(255, 255, 255);
    }
    
}

.contenedor a{
    text-decoration: none;
    color: black;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    height: 10vh;
}